<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <img style="border-radius: 20px" holderjs data-src="holder.js/100px400?theme=thumb&bg=55595c&fg=eceeef&text=BookPicture" alt="{{book?.title}}">
    </div>
    <div class="col-sm-6 d-flex flex-column justify-content-between">
      <h1>{{book?.title}}</h1>
      <h3>{{book?.author}}</h3>
      <p>{{book?.description}}</p>
      <ul>
        <li *ngFor="let genre of book?.genre">{{genre}}</li>
      </ul>
      <p class="align-self-end">Published on {{book?.year}}</p>
    </div>
  </div>
</div>